## 5575: 타임카드

문제  
JOI 상사는 직원의 근무시간을 타임 카드로 관리하고있다. 직원들은 전용 장비를 사용하여 타임 카드에 출근 시간을 기록한다. 근무를 마치고 퇴근할 때도 타임 카드에 퇴근 시간을 기록한다. 타임카드에서 사용하는 시간단위는 24 시간제를 사용한다.

보안상의 이유로 직원들의 출근 시간은 7시 이후이다. 또한, 모든 직원은 23시 이전에 퇴근한다. 직원의 퇴근 시간은 항상 출근 시간보다 늦다.

입력으로 JOI 상사의 3 명의 직원 A 씨, B 씨, C 씨의 출근 시간과 퇴근 시간이 주어 졌을 때 각 직원의 근무시간을 계산하는 프로그램을 작성하라.

입력  
입력은 3 행으로 구성된다.

첫 번째 줄에는 A 씨의 출근 시간과 퇴근 시간,

두 번째 줄에는 B 씨의 출근 시간과 퇴근 시간,

세 번째 줄에는 C 씨의 출근 시간과 퇴근 시간이 각각 공백으로 구분되어 있다.

시간은 각각 공백으로 구분된 3 개의 정수로 쓰여져있다.

3 개의 정수 h(7 ≦ h ≦ 22), m(0 ≦ m ≦ 59), s(0 ≦ s ≦ 59)는 h시 m 분 s 초를 나타낸다.

출력  
첫 번째 줄에 A 씨의 근무 시간,

두 번째 줄에 B 씨의 근무 시간,

세 번째 줄에 C 씨의 근무 시간을 출력하라.

근무 시간이 h 시간 m 분 s 초이면 h, m, s의 순으로 공백으로 분리하여 출력하라.

In [ ]:
Ach, Acm, Acs, Ath, Atm, Ats = map(int, input().split())
Bch, Bcm, Bcs, Bth, Btm, Bts = map(int, input().split())
Cch, Ccm, Ccs, Cth, Ctm, Cts = map(int, input().split())

Ah = Ath - Ach
Ah = Ah * 60

Am = Atm - Acm
Am += Ah
Am = Am * 60

As = Ats - Acs
As += Am

Ah = As // 3600
Am = (As - Ah * 3600) // 60
As = As - Ah * 3600 - Am * 60


Bh = Bth - Bch
Bh = Bh * 60

Bm = Btm - Bcm
Bm += Bh
Bm = Bm * 60

Bs = Bts - Bcs
Bs += Bm

Bh = Bs // 3600
Bm = (Bs - Bh * 3600) // 60
Bs = Bs - Bh * 3600 - Bm * 60

Ch = Cth - Cch
Ch = Ch * 60

Cm = Ctm - Ccm
Cm += Ch
Cm = Cm * 60

Cs = Cts - Ccs
Cs += Cm

Ch = Cs // 3600
Cm = (Cs - Ch * 3600) // 60
Cs = Cs - Ch * 3600 - Cm * 60

print(Ah, Am, As)
print(Bh, Bm, Bs)
print(Ch, Cm, Cs)

9 0 0 18 0 0
9 0 1 18 0 0
12 14 52 12 15 30
9 0 0
8 59 59
0 0 38

## 25304: 영수증

문제  
준원이는 저번 주에 살면서 처음으로 코스트코를 가 봤다. 정말 멋졌다. 그런데, 몇 개 담지도 않았는데 수상하게 높은 금액이 나오는 것이다! 준원이는 영수증을 보면서 정확하게 계산된 것이 맞는지 확인해보려 한다.

영수증에 적힌,

구매한 각 물건의 가격과 개수
구매한 물건들의 총 금액
을 보고, 구매한 물건의 가격과 개수로 계산한 총 금액이 영수증에 적힌 총 금액과 일치하는지 검사해보자.

입력  
첫째 줄에는 영수증에 적힌 총 금액
$X$가 주어진다.

둘째 줄에는 영수증에 적힌 구매한 물건의 종류의 수
$N$이 주어진다.

이후
$N$개의 줄에는 각 물건의 가격
$a$와 개수
$b$가 공백을 사이에 두고 주어진다.

출력  
구매한 물건의 가격과 개수로 계산한 총 금액이 영수증에 적힌 총 금액과 일치하면 Yes를 출력한다. 일치하지 않는다면 No를 출력한다.

In [ ]:
price = int(input())
num = int(input())

pur = list()
for i in range(num):
  a, b = map(int, input().split())
  pur.append([a, b])

sum = 0
for i in range(len(pur)):
  sum += pur[i][0] * pur[i][1]

if sum == price:
  print("Yes")
else:
  print("No")

260000
4
20000 5
30000 2
10000 6
5000 8
Yes

## 5532: 방학숙제

문제  
상근이는 초등학교에 다닐 때, 방학 숙제를 남들보다 먼저 미리 하고 남은 기간을 놀았다. 방학 숙제는 수학과 국어 문제 풀기이다.

방학은 총 L일이다. 수학은 총 B페이지, 국어는 총 A페이지를 풀어야 한다. 상근이는 하루에 국어를 최대 C페이지, 수학을 최대 D페이지 풀 수 있다.

상근이가 겨울 방학동안 숙제를 하지 않고 놀 수 있는 최대 날의 수를 구하는 프로그램을 작성하시오.

입력  
한 줄에 하나씩 총 다섯 줄에 걸쳐 L, A, B, C, D가 주어진다. (2 ≤ L ≤ 40, 1 ≤ A, B ≤ 1000, 1 ≤ C, D ≤ 100)

항상 방학 숙제를 방학 기간내에 다 할 수 있는 경우만 입력으로 주어진다.

출력  
첫째 줄에 상근이가 놀 수 있는 날의 최댓값을 출력한다.

In [ ]:
L = int(input())
A = int(input())
B = int(input())
C = int(input())
D = int(input())

# 간단하게 math.ceil(값) 활용하면 if문 필요없음
if A%C == 0:
  a = 0
else:
  a = 1
if B%D == 0:
  b = 0
else:
  b = 1

A = A//C + a
B = B//D + b

H = max(A, B)
print(L- H)

20
25
30
6
8
15

In [ ]:
20
25
30
6
8

2